:root {
  // GLOBAL COLORS
  --vn-blue-24: rgba(37, 99, 235, 0.24);
  --vn-blue-50: #EFF6FF;
  --vn-blue-100: #DBEAFE;
  --vn-blue-200: #BFDBFE;
  --vn-blue-300: #93C5FD;
  --vn-blue-400: #60A5FA;
  --vn-blue-500: #3B82F6;
  --vn-blue-600: #2563EB;
  --vn-blue-700: #1D4ED8;
  --vn-blue-800: #1E40AF;
  --vn-blue-900: #1E3A8A;

  --vn-cyan-24: rgba(7, 182, 213, 0.24);
  --vn-cyan-50: #EBFEFF;
  --vn-cyan-100: #CDFAFE;
  --vn-cyan-200: #A6F4FC;
  --vn-cyan-300: #67E8F9;
  --vn-cyan-400: #20D3EE;
  --vn-cyan-500: #07B6D5;
  --vn-cyan-600: #088EAF;
  --vn-cyan-700: #0E7490;
  --vn-cyan-800: #155F75;
  --vn-cyan-900: #164F64;

  --vn-teal-24: rgba(13, 150, 139, 0.24);
  --vn-teal-50: #F2FDFA;
  --vn-teal-100: #CBFBF0;
  --vn-teal-200: #98F6E3;
  --vn-teal-300: #5DEAD5;
  --vn-teal-400: #2BD4BD;
  --vn-teal-500: #14B8A5;
  --vn-teal-600: #0D9688;
  --vn-teal-700: #0F756D;
  --vn-teal-800: #115F5A;
  --vn-teal-900: #134E4A;

  --vn-lime-24: rgba(130, 203, 21, 0.24);
  --vn-lime-50: #F7FEE7;
  --vn-lime-100: #EBFCCA;
  --vn-lime-200: #D9F99F;
  --vn-lime-300: #BEF263;
  --vn-lime-400: #A1E633;
  --vn-lime-500: #82C815;
  --vn-lime-600: #66A50D;
  --vn-lime-700: #4C7B0F;
  --vn-lime-800: #406312;
  --vn-lime-900: #355214;

  --vn-yellow-24: rgba(200, 138, 4, 0.24);
  --vn-yellow-50: #FEFCE7;
  --vn-yellow-100: #FEF9C3;
  --vn-yellow-200: #FEF08B;
  --vn-yellow-300: #FDDF49;
  --vn-yellow-400: #FACC14;
  --vn-yellow-500: #E7B008;
  --vn-yellow-600: #C88A04;
  --vn-yellow-700: #A26107;
  --vn-yellow-800: #864E0E;
  --vn-yellow-900: #733F12;

  --vn-rose-24: rgba(244, 62, 92, 0.24);
  --vn-rose-50: #FFF0F1;
  --vn-rose-100: #FFE5E7;
  --vn-rose-200: #FECDD3;
  --vn-rose-300: #FDA5AF;
  --vn-rose-400: #FB6F84;
  --vn-rose-500: #F43E5C;
  --vn-rose-600: #E21D48;
  --vn-rose-700: #BF123D;
  --vn-rose-800: #A1123A;
  --vn-rose-900: #861336;

  --vn-pink-24: rgba(236, 70, 153, 0.24);
  --vn-pink-50: #FDF2F8;
  --vn-pink-100: #FCE8F4;
  --vn-pink-200: #FBD0E8;
  --vn-pink-300: #F9A9D5;
  --vn-pink-400: #F471B5;
  --vn-pink-500: #EC4699;
  --vn-pink-600: #DB2979;
  --vn-pink-700: #BF185D;
  --vn-pink-800: #9B174C;
  --vn-pink-900: #811842;

  --vn-purple-24: rgba(146, 52, 234, 0.24);
  --vn-purple-50: #FAF5FF;
  --vn-purple-100: #F2E5FF;
  --vn-purple-200: #EAD6FF;
  --vn-purple-300: #D8B4FE;
  --vn-purple-400: #BF83FC;
  --vn-purple-500: #A855F7;
  --vn-purple-600: #9234EA;
  --vn-purple-700: #7E22CE;
  --vn-purple-800: #6A21A6;
  --vn-purple-900: #591C87;
}