:root {
  --vn-background-075: rgba(88, 123, 179, 0.75);
  --vn-background-030: rgba(88, 123, 179, 0.3);
  --vn-background-024: rgba(88, 123, 179, 0.24);
  --vn-background-016: rgba(88, 123, 179, 0.16);
  --vn-background-050: #D6DEEC;
  --vn-background-100: #C8D3E6;
  --vn-background-200: #ACBDD9;
  --vn-background-300: #90A7CC;
  --vn-background-400: #7491C0;
  --vn-background-500: #587BB3;
  --vn-background-600: #476798;
  --vn-background-700: #3A557F;
  --vn-background-800: #2D4263;
  --vn-background-900: #1B283C;

  --vn-foreground-075: rgba(205, 213, 223, 0.75);
  --vn-foreground-030: rgba(205, 213, 223, 0.3);
  --vn-foreground-024: rgba(205, 213, 223, 0.24);
  --vn-foreground-016: rgba(205, 213, 223, 0.16);
  --vn-foreground-050: #FFFFFF;
  --vn-foreground-100: #FCFCFD;
  --vn-foreground-200: #F8FAFC;
  --vn-foreground-300: #EEF2F6;
  --vn-foreground-400: #E3E8EF;
  --vn-foreground-500: #CDD5DF;
  --vn-foreground-600: #9AA4B2;
  --vn-foreground-700: #697586;
  --vn-foreground-800: #4B5565;
  --vn-foreground-900: #364152;

  --vn-primary-075: rgba(97, 114, 243, 0.75);
  --vn-primary-030: rgba(97, 114, 243, 0.3);
  --vn-primary-024: rgba(97, 114, 243, 0.24);
  --vn-primary-016: rgba(97, 114, 243, 0.16);
  --vn-primary-050: #F5F8FF;
  --vn-primary-100: #EEF4FF;
  --vn-primary-200: #E0EAFF;
  --vn-primary-300: #C7D7FE;
  --vn-primary-400: #A4BCFD;
  --vn-primary-500: #8098F9;
  --vn-primary-600: #6172F3;
  --vn-primary-700: #444CE7;
  --vn-primary-800: #3538CD;
  --vn-primary-900: #2D31A6;

  --vn-warning-075: rgba(253, 176, 34, 0.75);
  --vn-warning-030: rgba(253, 176, 34, 0.3);
  --vn-warning-024: rgba(253, 176, 34, 0.24);
  --vn-warning-016: rgba(253, 176, 34, 0.16);
  --vn-warning-050: #FFFCF5;
  --vn-warning-100: #FFFAE8;
  --vn-warning-200: #FEF0C7;
  --vn-warning-300: #FEDF89;
  --vn-warning-400: #FEC84B;
  --vn-warning-500: #FDB022;
  --vn-warning-600: #F79009;
  --vn-warning-700: #DC6803;
  --vn-warning-800: #B54708;
  --vn-warning-900: #93370D;

  --vn-danger-075: rgba(249, 112, 102, 0.75);
  --vn-danger-030: rgba(249, 112, 102, 0.3);
  --vn-danger-024: rgba(249, 112, 102, 0.24);
  --vn-danger-016: rgba(249, 112, 102, 0.16);
  --vn-danger-050: #FFFBFA;
  --vn-danger-100: #FEF3F2;
  --vn-danger-200: #FEE4E2;
  --vn-danger-300: #FECDCA;
  --vn-danger-400: #FDA29B;
  --vn-danger-500: #F97066;
  --vn-danger-600: #F04438;
  --vn-danger-700: #D92D20;
  --vn-danger-800: #B42318;
  --vn-danger-900: #912018;

  --vn-success-075: rgba(86, 218, 170, 0.75);
  --vn-success-030: rgba(86, 218, 170, 0.3);
  --vn-success-024: rgba(86, 218, 170, 0.24);
  --vn-success-016: rgba(86, 218, 170, 0.16);
  --vn-success-050: #ECFBF6;
  --vn-success-100: #DCF7ED;
  --vn-success-200: #BAF0DC;
  --vn-success-300: #99E9CC;
  --vn-success-400: #77E2BB;
  --vn-success-500: #56DAAA;
  --vn-success-600: #34D399;
  --vn-success-700: #25AA79;
  --vn-success-800: #1B7C59;
  --vn-success-900: #114E38;
}