@import 'vecna-local.scss';

:host {
  @include shadow('lg');
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 3.5rem;
  padding: 0 1.25rem;
  background: var(--vn-foreground-050);
  border-bottom: 1px solid var(--tui-pink-50);
}

.vn-logo {
  margin-right: auto;
  // font: var()
}