@import 'palettes/index.scss';

:root {
  // RADIUS
  --vn-radius-xs: 0.25rem;
  --vn-radius-s: 0.5rem;
  --vn-radius-md: 0.625rem;
  --vn-radius-l: 0.75rem;
  --vn-radius-xl: 0.825rem;

  // BASE COLORS
}